@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --chalky: #e5c07b;
  --coral: #e06c75;
  --cyan: #56b6c2;
  --invalid: #ffffff;
  --ivory: #abb2bf;
  --stone: #7d8799;
  --malibu: #61afef;
  --sage: #98c379;
  --whiskey: #d19a66;
  --violet: #c678dd;
  --dark-background: #21252b;
  --highlight-background: #2c313a;
  --background: #282c34;
  --tooltip-background: #353a42;
  --selection: #3E4451;
  --cursor: #528bff;
}